<%- contentFor('body') %>
<div class="container-fluid">
	<div class="row">
		<%for(var i = 0; i < sensors.length; i++)
		{%>
		<div class="col l3 m6 s12">
			<div class="card">
				<div class="card-content">
				 	<span class="card-title"><%= sensors[i].name %></span>
				 	<ul class="collection">
				 	<% for(var y = 0; y < sensors[i].values.length; y ++)
				 	{%>
				 		<li class="collection-item"><%= sensors[i].values[y].name%> : <%= sensors[i].values[y].value%> <%= sensors[i].values[y].unit%></li>
				 	<%}%>
				 	</ul>
				</div>
			</div>
		</div>
		<%}%>
	</div>
</div>
<%- contentFor('script') %>